body {
  font-family: Arial, sans-serif;
  background-color: #d2df13;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

input {
  padding: 8px;
}

button {
  padding: 8px 12px;
  background-color: green;
  color: white;
  border: none;
}

button:hover {
  background-color: darkgreen;
}

table {
  width: 60%;
  margin: auto;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
